/* colour scheme
	dark gold = #b39237
	light pastel yellow = #FFE39B
	soft yellow = #ffd769
	dark blue = #3d57b3
	light pastel blue = #8ca5ff
*/

@import url('https://fonts.googleapis.com/css?family=Merienda:400,700|Italianno&display=swap');

body {
	font-size: 18px;
	background-image: url('backgrounds/water.png');
	background-size: cover;
}

#stage {
	
	width: 1000px ;
	height: 600px ;
	position: relative;
	border: 2px solid black;
	margin: auto;
	overflow: hidden;
	font-family: 'Merienda', cursive;
}

#startGame {
	position: absolute;
	top: 350px;
	left: 450px;
	background-color: #ffd769;
}

#title {
	font-size: 70px;
	font-family: 'Italianno', cursive;
	position: absolute;
	top: 200px;
	left: 350px;
}

#textBox {
	padding: 10px;
	position: absolute;
	right: 0px;
	bottom: 2px;
	margin: 10px;
	width: 75%;
	height: 30%;
	background-color: #ffd769;
	border: 5px ridge #b39237;
	z-index: 100;

	
}

#volumeIcon {
	position: absolute;
	right: 20px;
	top: 0px;
	cursor: pointer;
}

#charPortrait {
	/* background/container for avatar */
	display: block;
	position: absolute;
	left: 0px;
	bottom: 5px;
	margin: 10px;
	width: 180px;
	height: 180px;
	background-color: #ffd769;
	overflow: hidden;
	z-index: 100;
	border: 5px ridge #b39237;
}

#avatar {
	width: 90% ;
	height: 90%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: auto;
}

.but {
	cursor: pointer;
	position: absolute;
	bottom: 10px;
	height: ;
	margin-left: 40%;
	font-family: 'Merienda', cursive;
}
/* character image styles */
#charLeft {
	position: absolute;
	left: 50px;
	top: 100px;
	display: none;
}

#charRight {
	position: absolute;
	right: 50px;
	top: 100px;
	z-index: 0;
	display: none;
	transform: scaleX(-1);
}

#charMiddle {
	position: absolute;
	right: 300px;
	top: 100px;
	z-index: 0;
	display: none;
	transform: scaleX(-1);
}

.ophelia {
	position: absolute;

}
/*                       */

#nextBtn {
	width: 50px;
	height: 20px;
	position: absolute;
	padding: 2px;
	right: 5px;
	bottom: 2px;
	background-color: #FFE39B;
	border: 5px ridge #b39237;
	text-align: center;
	cursor: pointer;
}

.choices {
	display: block;
	border: 5px ridge #b39237;
	padding: 3px;
	margin: 2px;
	text-align: center;
	cursor: pointer;
}

.choices:hover {
	
	text-shadow: 3px 2px gray;
} 


#timerLabel {
	position: relative;
	z-index: 10;
	left: 200px;
	font-size: 15px;
	color: white;
	margin: auto;

}

.timer #bar-outer {
	width: 500px;
	height: 20px;
	border: 1px solid black;
	position: relative;
}
.timer #bar-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 20px;
	background-color: #3d57b3;
}
/* scenes */

.bedroom {
	background-image: url('backgrounds/bedroom.png');
	background-size: cover;
}

.stealth {
	background-color: #826144; /*lightish brown/orange */
}

.town {
	background-image: url('backgrounds/town2.png');
	background-size: cover;
}

.harbour {
	background-image: url('backgrounds/harbour.png');
	background-size: cover;
}

.barrels {
	background-image: url('backgrounds/barrels.png');
	background-size: cover;
}

#blackness {
	width: inherit;
	height: inherit;
	position: absolute;
	background-color: black;
	display: none;
}

.inside {
	background-color: black;
}

.galley {
	background-image: url('backgrounds/galley.png');
	background-size: cover;
}

.cabin {
	background-image: url('backgrounds/cabin.png');
	background-size: cover;
}

.hold {
	background-image: url('backgrounds/hold.png');
	background-size: cover;
}

.middle {
	background-image: url('backgrounds/lower_deck.png');
	background-size: cover;
}

.deckNight {
	background-image: url('backgrounds/deck_night.png');
	background-size: cover;
}

.deckDay {
	background-image: url('backgrounds/deck_day.png');
	background-size: cover;
}

.master {
	background-image: url('backgrounds/master.jpg');
	background-size: cover;
}

.doctors {
	background-image: url('backgrounds/doctors.png');
	background-size: cover;
}

.destination {
	background-image: url('backgrounds/town.png');
	background-size: cover;
}

.ocean {
	background-image: url('backgrounds/ocean.png');
	background-size: cover;
}

.wedding {
	background-image: url('backgrounds/wedding.png');
	background-size: cover;
}
/*disguise minigame*/

.disguise {
	background-image: url('backgrounds/bedroom.png');
	background-size: cover;
}

#infoBox {
	background-color: #ffd769; 
	width: 450px;
	height: 320px;
	position: absolute;
	left: 300px;
	top: 170px;
	z-index: 10;
	padding: 5px;
	font-size: 16px;
}
#infoBox p {
	padding: 10px;
	margin: 5px;
}

#startBtn {
	width: 50px;
	height: 30px;
	position: absolute;
	padding: 2px;
	background-color: #FFE39B;
	border: 5px ridge #b39237;
	text-align: center;
	cursor: pointer;
}

#startBtn:hover {
	font-weight: bold;
}

#Cloak {
	position: absolute;
	top: 100px;
	left: 100px;
	transform: scale(1.5);
}

#Shirt {
	position: absolute;
	right: 100px;
	top: 300px;
}

#Corset {
	position: absolute;
	bottom: 50px;
	left: 150px;
}

.dragging {
	cursor: grab;
}

.opheliaDis {
	position: absolute;
	left: 400px;
	top: 100px;

}

#back {
	position: absolute;
	top: 50px;
	left: 450px;
	cursor: pointer;
}

#forward {
	position: absolute;
	top: 50px;
	left: 550px;
	cursor: pointer;
}

#can {
	display: none;
}

/* stealth */
#suspicionLabel {
	position: absolute;
	top: 0px;
	margin-top: 0px;
	left: 250px;
	color: #FFE39B;
}
#ophelia {
	width: 50px;
	height: 50px;
	background-color: pink;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 10;
}


.lantern {
	z-index: 0;
	position: absolute;

}

#door {
	position: absolute;
	top: 100px;
	left: 10px;
}

#stealthTimer {
	position: absolute;
	top: 10px;
	right: 100px;
}

#wall1 {
	position: absolute;
	top: 0px;
	left: 0px;
}

#wall2 {
	position: absolute;
	top: 82px;
	left: 600px;
}

#wall3 {
	position: absolute;
	bottom: 100px;
	left: 0px;
}
#wall4 {
	position: absolute;
	bottom: 0px;
	left: 0px;
}
#wall5 {
	position: absolute;
	top: 0px;
	left: 0px;
}
#wall6 {
	position: absolute;
	top: 240px;
	right: -40px;
}


/* page 6-barrels */

.explore {
	border: 2px dotted white;
	position: absolute;
	cursor: pointer;
}

#barrel1, #barrel2, #barrel3 {
	width: 200px;
	height: 270px;
}

#barrel1 {
	top: 250px;
	left: 250px;
	width: 250px;
}

#barrel2 {
	top: 180px;
	right: 200px;
}

#barrel3 {
	top: 150px;
	right: 0px;
}

.explore:hover {
	border: 5px dotted yellow;
}

/* exploration */
#item1 {
	right: 90px;
	top: 250px;
	width: 110px;
	height: 150px;

}
#item2 {
	left: 120px;
	top: 150px;
	width: 200px;
	height: 300px;
}
#item3 {
	left: 350px;
	top: 240px;
	width: 400px;
	height: 200px;
}
#item4 {
	left: 280px;
	top: 350px;
	width: 80px;
	height: 50px;
}
#item5 {
	right: 180px;
	top: 240px;
	width: 80px;
	height: 100px;
}
#item6 {
	right: 0px;
	bottom: 0px;
	width: 160px;
	height: 150px;
}
#item7 {
	right: 170px;
	top: 290px;
	width: 150px;
	height: 50px;
}
#item8 {
	left: 200px;
	top: 50px;
	width: 100px;
	height: 100px;
}
#item9 {
	right: 50px;
	bottom: 80px;
}

#arrow {
	cursor: pointer;
}